{% extends "layout.html" %}

{% block content %}
<!-- Here can write all code for Home-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">

<div class="page">
    <div class="about">
        <h1>About Us</h1>
        <p>
            The project's goal is to build a website that will change the way of educational institutions currently take
            attendance. The problem arises when we think about the traditional process of taking attendance in class
            room. Calling name or roll number of the student for attendance is not only a problem of time consumption
            but also it needs energy. So, an automatic attendance system can solve all problems. We are decided to build
            a website for taking attendance using face and fingerprint recognition.
        </p>
        <div class="display-box">
            <div class="box">
                <div class="img-box">
                    <img src="static\ratan.jpeg" alt="image">
                </div>
                <div class="description-box">
                    <h1>Ratan Kumar</h1>
                    <li>Collage : IIT Patna </li>
                    <li>Cource : Bsc(Hons): CSDA </li>
                    <li>Roll No. 2312RES505</li>
                </div>
            </div>

            <div class="box">
                <div class="img-box">
                    <img src="static\shubhangam.jpeg" alt="image">
                </div>
                <div class="description-box">
                    <h1>Shubhangam Kumar</h1>
                    <li>Collage : IIT Patna</li>
                    <li>Cource : Bsc(Hons): CSDA</li>
                    <li>Roll No. 2312RES522</li>
                </div>
            </div>


            <div class="box">
                <div class="img-box">
                    <img src="#" alt="image">
                </div>
                <div class="description-box">
                    <h1>Rishik Kumar</h1>
                    <li>Collage : IIT Patna </li>
                    <li>Cource : Bsc(Hons): CSDA </li>
                    <li>Roll No. 2312RES522</li>
                </div>
            </div>

            <div class="box">
                <div class="img-box">
                    <img src="#" alt="image">
                </div>
                <div class="description-box">
                    <h1>Prince Kumar</h1>
                    <li>Collage : IIT Patna </li>
                    <li>Cource : Bsc(Hons): CSDA </li>
                    <li>Roll No. 2312RES1022</li>
                </div>
            </div>

            <div class="box">
                <div class="img-box">
                    <img src="#" alt="image">
                </div>
                <div class="description-box">
                    <h1>Anshul Khare</h1>
                    <li>Collage : IIT Patna </li>
                    <li>Cource : Bsc(Hons): CSDA </li>
                    <li>Roll No. 2312RES5981</li>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}