{% extends "layout.html" %}

{% block content %}
<!-- Here can write all code for Home-->
<link rel="stylesheet" href="{{ url_for('static', filename='edit_user.css') }}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Javascript Code for continuous Update Time -->
<script>
    $(document).ready(function() {
        function updateTime() {
            const now = new Date();
            const date = now.toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' });
            const time = now.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit' });

            $('#today_date').text('Date: ' + date);
            $('#today_time').text('Time: ' + time);
        }
        setInterval(updateTime, 1000);  // Update every second
        updateTime();  // Initial call to set the time immediately
    });
</script>

<div class="main-page">
    <div class="dashboard-page">
        <!-- First box of Dashboard -->
        <div class="Dashboard-menu-header">
            <h7 id="today_date">Date: {{ today_date }}</h7>
            <h1>Dashboard | Edit User</h1>
            <h7 id="today_time">Time: {{ today_time }}</h7>
        </div>

        <!-- Second box of Dashboard -->


        <!-- Third box of Dashboard -->

        <div class="Dashboard-menu2">
            <h1>Added Student Data</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <span>{{ messages[0] }}</span>
                {% endif %}
            {% endwith %}
            <div class="attendance-table">
                <table>
                    <thead>
                        <tr>
                            <th>SI No.</th>
                            <th>Name</th>
                            <th>Roll No.</th>
                            <th>Branch</th>
                            <th>Year</th>
                            <th>Time</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody id="student-data">
                        <!-- Data will be inserted here -->
                        {% for student in students %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ student.st_name }}</td>
                            <td>{{ student.roll_no }}</td>
                            <td>{{ student.branch }}</td>
                            <td>{{ student.year }}</td>
                            <td>{{ student.created_at }}</td>
                            <td><a href="{{ url_for('edit_user', student_id=student.st_id) }}"><i class="fa-solid fa-pen-to-square fa-xl"></i></a></td>
                            <td><a href="{{ url_for('delete_user', student_id=student.st_id) }}"><i class="fa-solid fa-trash-can fa-xl"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}