{% extends "layout.html" %}

{% block content %}
<!-- Here can write all code for Home-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<div class="page">
    <div class="display">
        <div class="hero">
            <div class="row">
                <div class="hero-image">
                    <img src="{{ url_for('static', filename='Images/calendar-image.jpg') }}" alt="Calendar Image">
                </div>
                <div class="hero-content">
                    <h1>SmartAttendance Make Easy Institute Student Attendance</h1>
                    <p>Developing a student attendance system with face and fingerprint recognition in Python. Utilizing webcam form Quick Attendance.</p>
                    <button><a href="/dashboard" style="color: white;">Get Started</a></button>
                </div>
            </div>
            
        </div>
        <!-- Here can add other div -->
        
        

    </div>
    
</div>

{% endblock %}